<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyk.app.dao.UserDao">
    <resultMap id="UserYlResultMap" type="com.xyk.app.domian.UserPension">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="id_card" property="idCard"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="insurance_time" property="insuranceTime"/>
        <result column="company" property="company"/>
        <result column="company_id" property="companyId"/>
        <result column="pay_month_due" property="payMonthDue"/>
        <result column="pay_month" property="payMonth"/>
        <result column="payment_self_due" property="paymentSelfDue"/>
        <result column="payment_company_due" property="paymentCompanyDue"/>
        <result column="payment_self" property="paymentSelf"/>
        <result column="payment_company" property="paymentCompany"/>
        <result column="expiry" property="expiry"/>
    </resultMap>

    <resultMap id="UserResultMap" type="com.xyk.app.domian.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="id_card" property="idCard"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="company" property="company"/>
        <result column="expiry" property="expiry"/>
    </resultMap>

    <resultMap id="PensionResultMap" type="com.xyk.app.domian.Pension">
        <result column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="begin_date" property="beginDate"/>
        <result column="month" property="month"/>
        <result column="payment_self" property="paymentSelf"/>
        <result column="payment_company" property="paymentCompany"/>
        <result column="payment_base" property="paymentBase"/>
    </resultMap>

    <parameterMap id="User" type="com.xyk.app.domian.User"/>
    <parameterMap id="Admin" type="com.xyk.app.domian.Admin"/>

    <sql id="user_column_List">
		id, name, id_card, sex, birthday, company, expiry
	</sql>

    <sql id="useryl_column_List">
		name, id_card, sex, birthday, insurance_time, company, company_id, pay_month_due, pay_month,
        payment_self_due, payment_company_due, payment_self, payment_company, expiry, create_time
	</sql>

    <sql id="useryl_id_column_List">
        id,
        <include refid="useryl_column_List"/>
    </sql>

    <sql id="pension_column_List">
		uid, begin_date, month, payment_self, payment_company, payment_base, create_time
	</sql>

    <sql id="pension_id_column_List">
        id,
        <include refid="pension_column_List"/>
    </sql>

    <select id="login" resultType="int" parameterType="com.xyk.app.domian.Admin">
        select count(id)
        from admin
        where id = #{admin.name} and pwd = #{admin.pwd}
    </select>

    <select id="userInfo" resultMap="UserYlResultMap" parameterType="java.lang.Long">
        select
        <include refid="useryl_column_List"/>
        from sb_user
        where id = #{uid}
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete from sb_user where id = #{uid}
    </delete>

    <select id="pageUser" resultMap="UserResultMap" parameterType="java.lang.Integer">
        select
        <include refid="user_column_List"/>
        from sb_user order by id
        limit #{firstRow}, #{pageSize}
    </select>

    <select id="search" resultMap="UserResultMap" parameterType="java.lang.String">
        select
        <include refid="user_column_List"/>
        from sb_user
        where name like concat(concat('%',#{key}),'%')
        order by id
    </select>

    <insert id="save" parameterType="com.xyk.app.domian.UserYl">
        insert into sb_user
        (<include refid="useryl_column_List"/>)
        values(#{ name}, #{ idCard}, #{ sex}, #{ birthday},
        #{ insuranceTime}, #{ company}, #{ companyId}, #{ payMonthDue}, #{ payMonth},
        #{ paymentSelfDue}, #{ paymentCompanyDue}, #{ paymentSelf}, #{ paymentCompany}, #{ expiry}, current_timestamp);
    </insert>

    <update id="update" parameterType="com.xyk.app.domian.UserYl">
        UPDATE sb_user
        <trim prefix="set" suffixOverrides=",">
            <if test=" name!=null">name=#{ name},</if>
            <if test=" idCard!=null">id_card=#{ idCard},</if>
            <if test=" sex!=null">sex=#{ sex},</if>
            <if test=" birthday!=null">birthday=#{ birthday},</if>
            <if test=" insuranceTime!=null">insurance_time=#{ insuranceTime},</if>
            <if test=" company!=null">company=#{ company},</if>
            <if test=" companyId!=null">company_id=#{ companyId},</if>
            <if test=" payMonthDue!=null">pay_month_due=#{ payMonthDue},</if>
            <if test=" payMonth!=null">pay_month=#{ payMonth},</if>
            <if test=" paymentSelfDue!=null">payment_self_due=#{ paymentSelfDue},</if>
            <if test=" paymentCompanyDue!=null">payment_company_due=#{ paymentCompanyDue},</if>
            <if test=" paymentSelf!=null">payment_self=#{ paymentSelf},</if>
            <if test=" paymentCompany!=null">payment_company=#{ paymentCompany},</if>
            <if test=" expiry!=null">expiry=#{expiry}</if>
        </trim>
        WHERE id=#{ id}
    </update>

    <select id="pension" resultMap="PensionResultMap" parameterType="java.lang.Long">
        select
        <include refid="pension_id_column_List"/>
        from pension
        where uid = #{uid}
        order by id
    </select>

    <insert id="savePension" parameterType="com.xyk.app.domian.Pension">
        insert into pension
        (<include refid="pension_column_List"/>)
        values(#{uid}, #{beginDate}, #{month}, #{paymentSelf}, #{paymentCompany}, #{paymentBase}, current_timestamp);
    </insert>

    <update id="updatePension" parameterType="com.xyk.app.domian.Pension">
        UPDATE pension
        <trim prefix="set" suffixOverrides=",">
            <if test="pension.beginDate!=null">begin_date=#{ beginDate},</if>
            <if test="pension.month!=null">month=#{ month},</if>
            <if test="pension.paymentSelf!=null">payment_self=#{ paymentSelf},</if>
            <if test="pension.paymentCompany!=null">payment_company=#{ paymentCompany},</if>
            <if test="pension.paymentBase!=null">payment_base=#{ paymentBase},</if>
        </trim>
        WHERE id=#{pension.id} and uid=#{pension.uid}
    </update>

    <delete id="delPension" parameterType="java.lang.Long">
        delete from pension where id = #{id}
    </delete>

</mapper>
