<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyk.app.dao.UserDao">
    <resultMap id="UserYlResultMap" type="com.xyk.app.domian.UserYl">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="id_card" property="idCard"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="insurance_time" property="insuranceTime"/>
        <result column="company" property="company"/>
        <result column="company_id" property="companyId"/>
        <result column="pay_month_due" property="payMonthDue"/>
        <result column="pay_month" property="payMonth"/>
        <result column="payment_self_due" property="paymentSelfDue"/>
        <result column="payment_company_due" property="paymentCompanyDue"/>
        <result column="payment_self" property="paymentSelf"/>
        <result column="payment_company" property="paymentCompany"/>
        <result column="expiry" property="expiry"/>
    </resultMap>

    <resultMap id="UserResultMap" type="com.xyk.app.domian.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="id_card" property="idCard"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="expiry" property="expiry"/>
    </resultMap>

    <resultMap id="PensionResultMap" type="com.xyk.app.domian.Pension">
        <result column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="begin_date" property="beginDate"/>
        <result column="month" property="month"/>
        <result column="payment_self" property="paymentSelf"/>
        <result column="payment_company" property="paymentCompany"/>
        <result column="payment_base" property="paymentBase"/>
    </resultMap>

    <parameterMap id="User" type="com.xyk.app.domian.User"/>
    <parameterMap id="Admin" type="com.xyk.app.domian.Admin"/>

    <sql id="user_column_List">
		id, name, id_card, sex, birthday, expiry
	</sql>

    <sql id="useryl_column_List">
		id, name, id_card, sex, birthday, insurance_time, company, company_id, pay_month_due, pay_month,
        payment_self_due, payment_company_due, payment_self, payment_company, expiry
	</sql>

    <sql id="pension_column_List">
		id, uid, beginDate, month, paymentSelf, paymentCompany, paymentBase
	</sql>

    <select id="login" resultType="int" parameterType="com.xyk.app.domian.Admin">
        select count(id)
        from admin
        where id = #{admin.name} and pwd = #{admin.pwd}
    </select>

    <select id="user" resultMap="UserYlResultMap" parameterType="java.lang.Long">
        select
        <include refid="useryl_column_List"/>
        from sb_user
        where id = #{uid}
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete from sb_user where id = #{uid}
    </delete>

    <select id="pageUser" resultMap="UserResultMap" parameterType="java.lang.Integer">
        select
        <include refid="user_column_List"/>
        from sb_user order by id
        limit #{firstRow}, #{pageSize}
    </select>

    <select id="search" resultMap="UserResultMap" parameterType="java.lang.String">
        select
        <include refid="user_column_List"/>
        from sb_user
        where name like concat(concat('%',#{key}),'%')
        order by id
        limit #{firstRow}, #{pageSize}
    </select>

    <insert id="save" parameterType="com.xyk.app.domian.UserYl">
        insert into sb_user values(#{user.name}, #{user.idCard}, #{user.sex}, #{user.birthday},
        #{user.insuranceTime}, #{user.company}, #{user.companyId}, #{user.payMonthDue}, #{user.payMonth},
        #{user.paymentSelfDue}, #{user.paymentCompanyDue}, #{user.paymentSelf}, #{user.paymentCompany}, #{user.expiry});
    </insert>

    <update id="update" parameterType="com.xyk.app.domian.UserYl">
        UPDATE sb_user
        <trim prefix="set" suffixOverrides=",">
            <if test="user.name!=null">name=#{user.name},</if>
            <if test="user.idCard!=null">id_card=#{user.idCard},</if>
            <if test="user.sex!=null">sex=#{user.sex},</if>
            <if test="user.birthday!=null">birthday=#{user.birthday},</if>
            <if test="user.insuranceTime!=null">insurance_time=#{user.insuranceTime},</if>
            <if test="user.company!=null">company=#{user.company},</if>
            <if test="user.companyId!=null">company_id=#{user.companyId},</if>
            <if test="user.payMonthDue!=null">pay_month_due=#{user.payMonthDue},</if>
            <if test="user.payMonth!=null">pay_month=#{user.payMonth},</if>
            <if test="user.paymentSelfDue!=null">payment_self_due=#{user.paymentSelfDue},</if>
            <if test="user.paymentCompanyDue!=null">payment_company_due=#{user.paymentCompanyDue},</if>
            <if test="user.paymentSelf!=null">payment_self=#{user.paymentSelf},</if>
            <if test="user.paymentCompany!=null">payment_company=#{user.paymentCompany},</if>
            <if test="user.expiry!=null">expiry=#{user.expiry},</if>
        </trim>
        WHERE id=#{user.id}
    </update>

    <select id="pension" resultMap="PensionResultMap" parameterType="java.lang.Integer">
        select
        <include refid="pension_column_List"/>
        from pension
        where uid = #{uid}
        order by id
    </select>

    <update id="update" parameterType="com.xyk.app.domian.Pension">
        UPDATE pension
        <trim prefix="set" suffixOverrides=",">
            <if test="pension.beginDate!=null">begin_date=#{user.beginDate},</if>
            <if test="pension.month!=null">month=#{user.month},</if>
            <if test="pension.paymentSelf!=null">payment_self=#{user.paymentSelf},</if>
            <if test="pension.paymentCompany!=null">payment_company=#{user.paymentCompany},</if>
            <if test="pension.paymentBase!=null">payment_base=#{user.paymentBase},</if>
        </trim>
        WHERE id=#{pension.id} and uid=#{pension.uid}
    </update>

</mapper>
